Please look at the task below and send us your resulting code by 09:00 GMT on Monday 27th of March. You can complete this in your own time, in a language of your choice; the task shouldn’t take more than a few hours to complete, but you are free to add additional features/embellishments if desired.

Using the Real Time [flood-monitoring API](https://environment.data.gov.uk/flood-monitoring/doc/reference) provided by the Environmental Agency, please produce a tool (web page, script, desktop application etc.) that:

- item Provides some control to select an individual measurement station. 
- Once a singular station is selected, shows a line graph (with associated table) of that station’s readings over the last 24 hours.`
 
Please try to create the tool with user-experience and professional software development standards in mind.

Once received, we will review your approach then (if applicable) get in touch regarding a video call interview.
 
Thank you & kind regards,
Monika

In [448]:
import streamlit as st
import pandas as pd
import numpy as np
import requests

In [452]:
from datetime import datetime, timedelta
last_24h_datetime = datetime.now() - timedelta(hours = 24)
url_formatted_dt = str(last_24h_datetime).replace(' ', 'T')[:-4] + 'Z'
url_formatted_dt # iso 8601 format

'2023-03-22T16:02:24.33Z'

In [462]:
url = 'http://environment.data.gov.uk/flood-monitoring/'

station_select = 'Allington' # example
station_id = stations_df.loc[stations_df['label'] == station_select]['notation'].iloc[0].replace('_', '')
#####
stations = url + 'id/stations' # all measurement stations
all_measurements = url + '/id/measures' # all measures from all stations
all_readings = url + 'data/readings'
filtered_readings = url + 'id/stations/' + station_id + '/readings' + '?since=' + url_formatted_dt
filtered_readings

'http://environment.data.gov.uk/flood-monitoring/id/stations/E4222/readings?since=2023-03-22T16:02:24.33Z'

In [464]:
r = requests.get(filtered_readings)
r

In [468]:

full_data = make_df(filtered_readings)
full_data

,@id,dateTime,measure,value
0,http://environment.data.gov.uk/flood-monitorin...,2023-03-22T16:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.208
1,http://environment.data.gov.uk/flood-monitorin...,2023-03-22T16:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.208
2,http://environment.data.gov.uk/flood-monitorin...,2023-03-22T16:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.208
3,http://environment.data.gov.uk/flood-monitorin...,2023-03-22T17:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.208
4,http://environment.data.gov.uk/flood-monitorin...,2023-03-22T17:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.208
...,...,...,...,...
89,http://environment.data.gov.uk/flood-monitorin...,2023-03-23T14:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.177
90,http://environment.data.gov.uk/flood-monitorin...,2023-03-23T14:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.177
91,http://environment.data.gov.uk/flood-monitorin...,2023-03-23T15:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.177
92,http://environment.data.gov.uk/flood-monitorin...,2023-03-23T15:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.176
93,http://environment.data.gov.uk/flood-monitorin...,2023-03-23T15:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.175

In [447]:
def make_df(url: str) -> pd.DataFrame:
    """Takes the url of the API, extracts the items block and turns it into a DataFrame

    Args:
        url (str): url of the flood data API

    Returns:
        pd.DataFrame:
    """
    r = requests.get(url)
    json = r.json()
    df = pd.DataFrame(json['items'])
    return df

In [400]:
stations_df = make_df(stations)
station_names = stations_df['label']
type(station_names)
station_names.sort_values()

2311                  Huscote FAS
6                       A6 Bridge
2250                ABBEY MILL RL
4444             ALDINGTON FSA DS
2775           ALFINGTON NORTH BH
                  ...
586              Yorkshire Bridge
4772                  Yoxall FLOW
4484                  Zoons Court
128     Zoons Court Flood Storage
1984            Zouch Sluice GATE
Name: label, Length: 5106, dtype: object

In [406]:
stations_df

,@id,RLOIid,catchmentName,dateOpened,easting,label,lat,long,measures,northing,notation,riverName,stageScale,stationReference,status,town,wiskiID,datumOffset,gridReference,downstageScale
0,http://environment.data.gov.uk/flood-monitorin...,7041,Cotswolds,1994-01-01,417990.0,Bourton Dickler,51.874767,-1.740083,[{'@id': 'http://environment.data.gov.uk/flood...,219610.0,1029TH,River Dikler,http://environment.data.gov.uk/flood-monitorin...,1029TH,http://environment.data.gov.uk/flood-monitorin...,Little Rissington,1029TH,NaN,NaN,NaN
1,http://environment.data.gov.uk/flood-monitorin...,6022,Welland,1992-01-01,528000.0,Surfleet Sluice,52.845991,-0.100848,[{'@id': 'http://environment.data.gov.uk/flood...,329300.0,E2043,River Glen,http://environment.data.gov.uk/flood-monitorin...,E2043,http://environment.data.gov.uk/flood-monitorin...,Surfleet Seas End,L31004,2.0,NaN,NaN
2,http://environment.data.gov.uk/flood-monitorin...,3072,"Parrett, Brue and West Somerset Streams",1997-01-01,344383.0,Gaw Bridge,50.976043,-2.793549,[{'@id': 'http://environment.data.gov.uk/flood...,119926.0,52119,River Parrett,http://environment.data.gov.uk/flood-monitorin...,52119,http://environment.data.gov.uk/flood-monitorin...,Kingsbury Episcopi,520320_FW,10.0,NaN,NaN
3,http://environment.data.gov.uk/flood-monitorin...,6177,Upper and Bedford Ouse,1996-10-01,529500.0,Hemingford,52.323618,-0.101287,[{'@id': 'http://environment.data.gov.uk/flood...,271200.0,E21136,River Great Ouse,http://environment.data.gov.uk/flood-monitorin...,E21136,http://environment.data.gov.uk/flood-monitorin...,Hemingford Grey,L33865,6.3,TL 2950 7120,NaN
4,http://environment.data.gov.uk/flood-monitorin...,2032,Worcestershire Middle Severn,1976-04-06,386120.0,Swindon,52.512740,-2.205945,[{'@id': 'http://environment.data.gov.uk/flood...,290560.0,2067,Smestow Brook,http://environment.data.gov.uk/flood-monitorin...,2067,http://environment.data.gov.uk/flood-monitorin...,Swindon,2067,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,http://environment.data.gov.uk/flood-monitorin...,9539,Derwent,1994-11-01,498863.0,Forge Valley,54.257576,-0.483880,[{'@id': 'http://environment.data.gov.uk/flood...,485718.0,F2709,River Derwent,http://environment.data.gov.uk/flood-monitorin...,F2709,http://environment.data.gov.uk/flood-monitorin...,Forge Valley,F2709,NaN,SE9886385718,NaN
5102,http://environment.data.gov.uk/flood-monitorin...,9537,Don and Rother,2003-05-12,440276.0,Chesterfield Calow Lane,53.225038,-1.398178,[{'@id': 'http://environment.data.gov.uk/flood...,369947.0,L0245,Calow Brook,http://environment.data.gov.uk/flood-monitorin...,L0245,http://environment.data.gov.uk/flood-monitorin...,Chesterfield Calow Lane,L0245,NaN,SK4027669947,NaN
5103,http://environment.data.gov.uk/flood-monitorin...,9538,Hull and East Riding,2010-07-27,501859.0,Driffield,53.990772,-0.447889,[{'@id': 'http://environment.data.gov.uk/flood...,456086.0,F3193,Driffield Trout Stream,http://environment.data.gov.uk/flood-monitorin...,F3193,http://environment.data.gov.uk/flood-monitorin...,Driffield,F3193,NaN,TA0185956086,NaN
5104,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Butlers Arms Farm T38,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SD44_24,NaN,NaN,SD44_24,NaN,NaN,NaN,NaN,SD4843,NaN
5105,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Byerworth Bridge T14,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SD44_13,NaN,NaN,SD44_13,NaN,NaN,NaN,NaN,SD4944,NaN

In [368]:
stations_df['notation'][9]

'E8266'

In [205]:
stations_df['label']
filtered = stations_df.query('label == "Bourton Dickler"')
filtered

,@id,RLOIid,catchmentName,dateOpened,easting,label,lat,long,measures,northing,notation,riverName,stageScale,stationReference,status,town,wiskiID,datumOffset,gridReference,downstageScale
0,http://environment.data.gov.uk/flood-monitorin...,7041,Cotswolds,1994-01-01,417990.0,Bourton Dickler,51.874767,-1.740083,[{'@id': 'http://environment.data.gov.uk/flood...,219610.0,1029TH,River Dikler,http://environment.data.gov.uk/flood-monitorin...,1029TH,http://environment.data.gov.uk/flood-monitorin...,Little Rissington,1029TH,NaN,NaN,NaN

In [219]:
stations_df[['lat', 'long']]
map_data = stations_df[["lat", "long"]].rename(columns={"long": "lon"})
map_data.isna()

        lat    lon
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
5101  False  False
5102  False  False
5103  False  False
5104   True   True
5105   True   True

[5106 rows x 2 columns]

In [302]:
stations_df.loc[stations_df['lat'].isnull()]

,@id,RLOIid,catchmentName,dateOpened,easting,label,lat,long,measures,northing,notation,riverName,stageScale,stationReference,status,town,wiskiID,datumOffset,gridReference,downstageScale
1967,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,HOUNDEAN BOTTOM GWL,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,E9030,NaN,NaN,E9030,NaN,NaN,NaN,NaN,TQ3910,NaN
1969,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Inner Marsh BH,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SJ37_032,NaN,NaN,SJ37_032,NaN,NaN,NaN,NaN,SJ3172,NaN
1976,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Alton Town OBH,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SU73_93,NaN,NaN,SU73_93,NaN,NaN,NaN,NaN,SU7139,NaN
1997,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Broughton,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SE77BRT0CO,NaN,NaN,SE77BRT0CO,NaN,NaN,NaN,NaN,SE7673,NaN
2011,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,COLN ST ALDWYN OBH,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SP10_96,NaN,NaN,SP10_96,NaN,NaN,NaN,NaN,SP1406,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5047,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Bryntail LVL,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,2055,NaN,NaN,2055,NaN,NaN,NaN,NaN,NaN,NaN
5074,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Gadlas Eastwick Shallow,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SJ33_051,NaN,NaN,SJ33_051,NaN,NaN,NaN,NaN,SJ3838,NaN
5087,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Westwood,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,TA03WSW0CC,NaN,NaN,TA03WSW0CC,NaN,NaN,NaN,NaN,TA0237,NaN
5104,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Butlers Arms Farm T38,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SD44_24,NaN,NaN,SD44_24,NaN,NaN,NaN,NaN,SD4843,NaN
5105,http://environment.data.gov.uk/flood-monitorin...,NaN,NaN,NaN,NaN,Byerworth Bridge T14,NaN,NaN,[{'@id': 'http://environment.data.gov.uk/flood...,NaN,SD44_13,NaN,NaN,SD44_13,NaN,NaN,NaN,NaN,SD4944,NaN

In [1]:
stations_df['label']

NameError: name 'stations_df' is not defined

In [391]:
station_select = 'Byerworth Bridge T14'
station_id = stations_df.loc[stations_df['label'] == station_select]['notation'].iloc[0]
station_id.replace('_', '')

'SD4413'

In [394]:
station_id = stations_df.loc[stations_df['label'] == station_select]['@id']
station_id

5105    http://environment.data.gov.uk/flood-monitorin...
Name: @id, dtype: object

In [414]:
measurements_station_id = url +'id/readings/' + station_id.replace('_', '') + '/measures' #+ '?since=' + url_formatted_dt # all measures from a particular 
#df = make_df(measurements_station_id)
measurements_station_id

'http://environment.data.gov.uk/flood-monitoring/id/readings/1029TH/measures'

In [425]:
url_formatted_dt =

SyntaxError: invalid syntax (2416705026.py, line 1)

In [427]:
import seaborn as sns

In [428]:
from matplotlib.pyplot import plot

In [429]:
plot(filtered['dateOpened'],filtered[''])

KeyError: ''

In [443]:
yep = datetime.now().isoformat
cov